.join-container {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    &__inner {
        height: 500px;
        width: 500px;
        padding: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--contrast-color);
        box-shadow: var(--shadow);
        @media all and (max-width: 450px) {
            padding: 0;
            text-align: center;
        }
        h2 {
            font-size: 2rem;
            text-decoration: underline;
            text-decoration-color: var(--primary-color);
            margin-bottom: 20px;
        }
        img {
            height: 30px;
            margin-left: 25px;
        }
        span {
            position: relative;
        }
        input[type="text"],
        [type="password"] {
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 1.2rem;
            font-size: 0.9rem;
            color: grey;
            pointer-events: none;
            transition: 0.3s;
        }
        .focused {
            top: -2.2rem;
            left: 0;
            color: var(--secondary-color);
            font-size: 0.8rem;
            font-weight: bold;
        }
    }
}
.overlay_container {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
.overlay {
    box-shadow: none;
    transition: 0.5s ease-in-out;
    background-color: var(--background-color);
    pointer-events: all;
    @media all and (max-width: 450px) {
        padding: 0;
        text-align: center;
    }
    button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border-color: var(--primary-color);
        background-color: transparent;
        color: var(--font-color);
        border-radius: 50px;
        position: relative;
        &:hover:before {
            filter: blur(20px);
            transition: 0.3s ease;
        }
        &:before {
            content: "";
            z-index: -1;
            background: linear-gradient(
                45deg,
                #ff0000,
                #ff7300,
                #fffb00,
                #48ff00,
                #00ffd5,
                #002bff,
                #7a00ff,
                #ff00c8,
                #ff0000
            );
            background-size: 400%;
            position: absolute;
            top: 0;
            left: 0;
            filter: blur(5px);
            width: 100%;
            height: 100%;
            animation: glowing 20s linear infinite;
            border-radius: 50px;
        }
        &:after {
            z-index: -1;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: var(--background-color);
            left: 0;
            top: 0;
            border-radius: 50px;
        }

        @keyframes glowing {
            0% {
                background-position: 0 0;
            }
            50% {
                background-position: 400% 0;
            }
            100% {
                background-position: 0 0;
            }
        }
    }
}
.invalid {
    border: 2px solid red !important;
    background-color: rgba(255, 202, 202, 0.6);
    animation: shake 0.2s ease-in-out 0s 2;
    box-shadow: 0 0 0.6rem #ff0000;

    @keyframes shake {
        0% {
          margin-left: 0rem;
        }
        25% {
          margin-left: 0.5rem;
        }
        75% {
          margin-left: -0.5rem;
        }
        100% {
          margin-left: 0rem;
        }
      }
}