.sidebar-container {
    margin-right: 5px;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
}

.sidebar {
    min-height: 100vh;
    background: var(--contrast-color);
    overflow: auto;

    &__title {
        color: var(--secondary-color);
        display: flex;
        align-items: center;
        padding: 15px 0 15px 30px;
        height: 70px;

        img {
            height: 30px;
            margin-left: 25px;
        }
    }

    &__upper {
        width: 100%;
        min-height: fit-content;
        height: 120px;
        padding-left: 30px;
        

        h2 {
            margin-bottom: 5px;
            font-size: 18px;
            font-weight: bold;
        }

        input[type="text"] {
            padding: 5px;
            width: 60%;
            font-size: 14px;
            margin-bottom:10px;
        }
        
    }

    &__burger {
        cursor: pointer;
        height: 30px;
        width: 30px;
        top: 3%;
        left: 25px;
        background: transparent;
        border: none;
        z-index: 99;
        transition: 0.55s ease;

        .line {
            width: 70%;
            height: 10px;
            transition: transform 0.3s ease-in-out;
            transform-origin: center;
            fill: var(--primary-color);
            x: 15%;
            transition: 0.5s;

            &:first-child {
                y: 20%;
            }
            &:nth-child(2) {
                y: 45%;
            }
            &:last-child {
                y: 70%;
            }
        }
        &[aria-expanded="false"] .middle {
            opacity: 1;
        }

        &[aria-expanded="true"] .top {
            width: 100%;
            transform: rotate(45deg) translateX(-10%);
            y: 45;
        }

        &[aria-expanded="true"] .middle {
            opacity: 0;
            transform: rotate(45deg) translateX(-10%);
        }

        &[aria-expanded="true"] .bottom {
            width: 100%;
            transform: rotate(-45deg) translateX(-15%);
            y: 50;
        }
    }
}
