.input {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 15px;
  
    input[type="text"] {
      padding: 10px 5px;
      width: 85%;
      border-radius: 5px;
      position: relative;
      bottom:0;
    }
  
    input[type="button"] {
      display: inline-block;
      padding: 10px 15px;
      background-color: var(--primary-color);
      font-size: 1rem;
      border: 2px;
      border-radius: 5px;
      cursor: pointer;
      margin-left: 10px;
  
      &:hover {
        filter:brightness(0.8);
      }
    }
  }