.chat-container {
    img {
        height:30px;
        margin-left:30px;
    }
}

.top-bar {
    background-color: var(--contrast-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 20px 0;
    width: 100%;
  }
  
  .top-bar > span:first-child {
    justify-self: flex-start;
    margin-left:50px;
  }
  
  .top-bar > span:last-child {
    justify-self: flex-end;
    margin-right:50px;
    cursor:pointer;
  }
  
