.message-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 15px 0;
    height: calc(100vh - 150px);
    overflow: auto;
    word-wrap: break-word;
}

.message {
    max-width: 70%;
    width: min-content;
    background-color: var(--contrast-color);
    padding: 15px;
    border-radius: 15px;

    
}
.right-corner {
    align-self: flex-end;
    margin-right: 15px;
}

.left-corner {
    align-self: flex-start;
    margin-left: 15px;
}

.message-timestamp{
    display: flex;
    justify-content:right;
    font-size: 10px;
    
    
    
}
