.cart-icon {
    position: relative;
    cursor: pointer;
  }
  
  .cart-count {
    position: absolute;
    top: -15px;
    right: -17px;
    min-width: 25px;
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 50%;
    padding: 3px;
    font-size: 12px;
    text-align: center;
  }
  