.burgermenu {
  cursor: pointer;
  height:50px;
  width:50px;
  top:5%;
  right:10%;
  background: transparent;
  border:none;
  z-index: 99;

    &__container {
      position:fixed;
      top:0;
      left:0;
      height:100vh;
      width:100vw;
      background-color: var(--background-color);
      z-index: 98;
    }

    &__items {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      li {
        font-size: 2rem;
        font-weight: 700;
        list-style: none;

          &:hover {
              transition: 0.5s;
              text-decoration: var(--underline);
              text-underline-offset: 10px;
          }
          a {
              text-decoration: none;
              color: unset;
          }
        }
    }

  .line {
    width:70%;
    height:10px;
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
    fill:var(--primary-color);
    x:15%;
    transition:0.5s;

    &:first-child{
      y:20%;
    }
    &:nth-child(2){
      y:45%;
    }
    &:last-child{
      y:70%;
    }
  }
  &[aria-expanded="false"] .middle {
  opacity: 1;
  }

  &[aria-expanded="true"] .top {
    width: 100%;
    transform: rotate(45deg) translateX(-10%);
    y: 45;
  }
  
  &[aria-expanded="true"] .middle {
    opacity: 0;
    transform: rotate(45deg) translateX(-10%);
  }

  &[aria-expanded="true"] .bottom {
    width: 100%;
    transform: rotate(-45deg) translateX(-15%);
    y: 50;
  }
}
